@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding:0;
}
.nav-container{
    /* border:2px solid red; */
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 80px;
    object-fit: cover;
}
.nav-container p{
    font-size: 25px;
}
.special{
    color:aquamarine;
    font-weight: 400px;
}
.header-section{
    max-width: 1250px;
    /* background-color: red; */
    margin:0 auto;
    /* border: 2px solid blue; */
    display:flex;
}
.items-container{
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items-container a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900px;
    color:white;
}
.header{
    background-color: darkkhaki;
}
.login-button{
    padding: 8px 8px;
    background-color:tomato;
    border-radius: 5px;
}
.items-container .login-button a{
    
    color: black;
}
/* nav done */

/* banner starts here  */
.banner-section{
    max-width: 1250px;
    margin:0 auto;
    min-height: 400px;
    /* border:2px solid tomato; */
    display:flex;
    background-color:beige;
    margin-top: 30px;
    border-radius: 10px;
}
.banner-text{
    /* border:2px solid red; */
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.banner-img{
    /* border:2px solid yellow; */
    width:50%;
}
.banner-img img {
    width: 80%;
    display: block;
    margin:0 auto;
    object-fit: cover;
    height:100%;
    border-radius:5px;
    padding: 10px 20px;
    position: relative;
    
}
.banner-text h1,p,span{
    font-size:45px;
}
.banner-heading {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.375),rgba(255, 255, 0, 0.124));
    background-clip:text;
    color:transparent;
    font-size: 60px;

}
#collections{
    font-family: "Dancing Script", cursive;
}
.fa-brands{
    font-size: 50px;
}
.icons{
    display: flex;
    gap: 15px;
}
.common{
    border:2px solid beige;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:lightcoral;
}
.discount{
    width:90px;
    height:90px;
    background-color: cornflowerblue;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    border-radius: 50%;
    position: absolute;
    bottom: 60%;
    left: 75%;
}